<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Amazona Tutorial</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
          <a href="index.html">Amazona</a>
        </div>
        <div class="header-links">
          <a href="cart.html">Cart</a>
          <a href="singin.html">Signin</a>
        </div>
      </header>
      <main class="main">
        <div class="content">
          <ul class="products">
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="./images/slim-shirt.jpg"
                  alt="product"
                />
                <div class="product-name">Slim Shirt</div>
                <div class="product-brand">Nike</div>
                <div class="product-price">$60</div>
                <div class="product-rating">5 Stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="./images/slim-shirt.jpg"
                  alt="product"
                />
                <div class="product-name">Slim Shirt</div>
                <div class="product-brand">Nike</div>
                <div class="product-price">$60</div>
                <div class="product-rating">5 Stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="./images/slim-shirt.jpg"
                  alt="product"
                />
                <div class="product-name">Slim Shirt</div>
                <div class="product-brand">Nike</div>
                <div class="product-price">$60</div>
                <div class="product-rating">5 Stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="./images/slim-shirt.jpg"
                  alt="product"
                />
                <div class="product-name">Slim Shirt</div>
                <div class="product-brand">Nike</div>
                <div class="product-price">$60</div>
                <div class="product-rating">5 Stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="./images/slim-shirt.jpg"
                  alt="product"
                />
                <div class="product-name">Slim Shirt</div>
                <div class="product-brand">Nike</div>
                <div class="product-price">$60</div>
                <div class="product-rating">5 Stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="./images/slim-shirt.jpg"
                  alt="product"
                />
                <div class="product-name">Slim Shirt</div>
                <div class="product-brand">Nike</div>
                <div class="product-price">$60</div>
                <div class="product-rating">5 Stars (10 reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img
                  class="product-image"
                  src="./images/slim-shirt.jpg"
                  alt="product"
                />
                <div class="product-name">Slim Shirt</div>
                <div class="product-brand">Nike</div>
                <div class="product-price">$60</div>
                <div class="product-rating">5 Stars (10 reviews)</div>
              </div>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer">All right reserved</footer>
    </div>
  </body>
</html>
